@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui;
  --color-accent: #2E72F0;
  --color-background: #0F1115;
}

#root {
  font-family: var(--font-sans);
  margin: 0 auto;
  padding: 0.25rem;
  background-color: var(--color-background);
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}