@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald:wght@500&display=swap');
@import "tailwindcss";

@theme {

  --font-sans: "Inter", ui-sans-serif, system-ui;
  --color-accent: #2B8EFF;
  --color-secondaryColor: #222222;
  --color-primaryText: black;
  --color-secondaryText: white;
  --color-baseColor: #D4D4D4;
  --color-background: white;
}



body {
  background-color: var(--color-background);
}

#root {
  font-family: var(--font-sans);
  margin: 0 auto;
  color: var(--color-secondaryText);
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}